'.source.js':
  'JS singleton pattern':
    'prefix': 'singleton'
    'body': 'var ${1:name} = (function() {\n\t\'use strict\';\n\n\tvar instance;\n\n\t${1:name} = function(${2:args}) {\n\t\tif (instance) {\n\t\t\treturn instance;\n\t\t}\n\n\t\tinstance = this;\n\n\t\t${3:// your code goes here}\n\t};\n\n\treturn ${1:name};\n}());'